
.productsGrid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;

  h3 {
    font-weight: bold;
  }

  .productText {
    padding-left: 10px;
  }
}

.productImg {
  background-position: center;
  background-size: cover;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid gray 1px;
  margin-bottom: 10px;

  &.big {
    width: 100%;
    height: 400px;
  }

  &:hover {
    cursor: pointer;
  }
}

.bigDescription {
  text-align: left;
  padding: 20px;

  h3 {
    font-weight: bold;
  }

  p {
    padding-top: 10px;
  }
}

@media (min-width: 920px) {
  .tile {
    &.large {
      height: 280px;
    }
  }
}

@media (min-width: 480px) {
  .mosaic {

    flex-wrap: wrap;

    .tile {
      flex-grow: 1;
      margin: 10px;
    }
  }
}

@media (max-width: 480px) {
  .mosaic {
    flex-direction: column;
  }

  .tile {
    width: 100%;
  }

  .productImg {
    border-left: none;
    border-right: none;

    &.big {
      height: 320px;
    }
  }
}
