@import "../../styles/colors";

.actionButton {
  height: 40px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 2px lightgray;
  cursor: pointer;
  font-size: 14px;
  font-family: Roboto, serif;
  font-weight: 300;
}

.transparentActionButton {
  background: transparent;
  color: white;
  height: 40px;
  border: solid rgba(255,255,255, 0.8) 1px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-family: Roboto, serif;
  font-weight: 300;

  &:hover {
    background-color: rgba(255,255,255, 0.5);
  }
}

@media (min-width: 640px) {
  .actionButton {
    min-width: 140px;
  }

  .transparentActionButton {
    min-width: 140px;
  }
}
