#financialSnapshot {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 20px 0;
}

#financialSnapshot .scoreboard {
  flex-grow: 1;
  margin-right: 10px;
  display: flex;
  padding: 40px 0 40px 40px;
  color: #0292B7;
  background: lightgray;
  justify-content: space-around;

  h1 {
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 12px;
    padding: 6px 0;
  }
}

#financialSnapshot .monthlyBalance {
  flex-grow: 2;
  padding: 20px;
}

@media (max-width: 480px) {
  #financialSnapshot {
    flex-direction: column;
  }

  #financialSnapshot .scoreboard {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
