@import "../../styles/colors";

#financialSnapshot {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#financialSnapshot .scoreboard {
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 10px;

  .topElements {
    display: flex;
    justify-content: flex-end;
    padding: 0 6px 0 0;

    p {
      cursor: pointer;
    }
  }

  .bottomElements {
    display: flex;
    justify-content: space-around;
    padding: 40px 0 40px 40px;
  }

  h1 {
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 12px;
    padding: 6px 0;
  }
}

@media (max-width: 480px) {
  #financialSnapshot {
    flex-direction: column;
  }

  #financialSnapshot .scoreboard {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
