
.chart {
  display: flex;
  align-items: baseline;
  padding-bottom: 10px;

  &.small {
    justify-content: space-around;
  }
}

.chart-inverted {
  display: flex;
  justify-content: space-around;
}

.chartWrapper {

  flex-grow: 2;
  padding: 20px;
  margin-bottom: 10px;

  .topBar {
    display: flex;
    justify-content: space-between;
  }

  .monthName {
    padding: 0 10px;
  }

  h2 {
    font-size: 18px;
    padding-bottom: 40px;
  }

  .bar {
    border: solid white 1px;
    border-radius: 4px;
    margin: 0 2px;

    &.bar-md {
      width: 80px;
    }

    &.bar-xs {
      width: 20px;
    }
  }
}

.bigChartWrapper {

  flex-grow: 2;
  padding: 20px;
  margin-bottom: 10px;

  .hScrollable {
    overflow-x: scroll;
  }

  .topBar {
    display: flex;
    justify-content: space-between;
  }

  .monthName {
    padding: 0 10px;
  }

  h2 {
    font-size: 18px;
    padding-bottom: 40px;
  }

  .bar {
    border: solid white 1px;
    border-radius: 4px;
    margin: 10px;
    width: 40px;
  }
}

.month-bar {

  width: 40px;

  &.first {
    margin: 0 10px 10px 10px;
    border-style: solid;
    border-radius: 0 0 4px 4px;
  }

  &.second {
    margin: 10px 10px 0 10px;
    border-radius: 4px 4px 0 0;
  }

  &.translucid {
    opacity: 0.4;
  }

  &.middle {

  }

  &.green {
    border-color: #438c1a;
    background: repeating-linear-gradient(
                    135deg,
                    #4eb564,
                    #4eb564 10px,
                    #28a744 10px,
                    #28a744 20px);
  }

  &.yellow {
    border-color: #ddc162;
    background: repeating-linear-gradient(
                    135deg,
                    #ffc107,
                    #ffc107 10px,
                    #ffca35 10px,
                    #ffca35 20px);
  }

  &.blue {
    border-color: #465298;
    background: repeating-linear-gradient(
                    135deg,
                    #606dbc,
                    #606dbc 10px,
                    #465298 10px,
                    #465298 20px);
  }

  &.light-gray {
    background: lightgray;
  }

  &.red {
    border-color: darkred;
    background: repeating-linear-gradient(
                    135deg,
                    #e15864,
                    #e15864 10px,
                    #dc3644 10px,
                    #dc3644 20px);
  }

  &.transparent {
    background: transparent;
  }
}




