
.purchase {
  text-align: center;
  padding: 0 20px;

  .price {
    font-size: 40px;
    padding: 10px 0;
  }

  .terms {
    font-size: 10px;
  }

  button {
    width: 100%;
    margin: 20px 0;
    height: 40px;
    background-color: teal;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
  }
}
