
$base-font-color: #000128;
$secondary-color: #bed8e4;
$old-base-font-color-5: #13293D;
$old-base-font-color-4: #1382ad;
$old-base-font-color-3: #2C3531;
$old-base-font-color-2: #161459;
$old-base-font-color: #0292B7;

//FUTURISTIC PALETTE
$futuristic-gray: #2C3531;
$futuristic-turquoise: #116466;
$futuristic-sand: #D9B08C;
$futuristic-wheat: #FFCB9A;
$futuristic-water: #D1E8E2;

//BLUE PALETTE
$prussian-blue: #13293D;
$sapphire-blue: #006494;
$celadon-blue: #247BA0;
$carolina-blue: #1B98E0;
$azure-gray: #E8F1F2;
