body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#application {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  flex: 1 0 auto;
}

.page {
  max-width: 920px;
  margin: auto;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
}

.light-border {
  border-radius: 4px;
  box-shadow: 0 0 2px lightgray;
}
