.userForm {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 2px lightgray;

  form {
    padding-top: 20px;
  }

  h2 {
    font-weight: bold;
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
    padding: 6px 0;
    color: cornflowerblue;
    text-decoration: underline;
    text-align: center;
  }
}

.formItem {
  display: flex;
  flex-direction: column;
  padding: 4px 0;

  input {
    padding-left: 10px;
  }

  input, button {
    height: 40px;
    margin-top: 4px;
  }
}
