@import "../styles/colors";

.userForm {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 2px lightgray;

  form {
    padding-top: 20px;

    button {
      width: 100%;
      margin-bottom: 4px;
    }

    .formButton {
      background: $base-font-color;
      border-radius: 2px;
      color: white;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.24) 0 2px 2px 0, rgba(0, 0, 0, 0.24) 0 0 1px 0;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
    padding: 6px 0;
    color: cornflowerblue;
    text-decoration: underline;
    text-align: center;
  }
}

.formItem {
  display: flex;
  flex-direction: column;
  padding: 4px 0;

  input {
    padding-left: 10px;
  }

  input, button {
    height: 40px;
    margin-top: 4px;
  }
}
