
#transactionsWidget {
    display: flex;
    margin: 10px;
    flex-direction: column;
}

#transactionsWidget input {
    margin-bottom: 10px;
    height: 40px;
    padding-left: 10px;
    margin-right: 10px;
    width: 100vh;
}

#transaction {
    background: white;
    display: flex;
    color: dimgray;
    margin-bottom: 5px;
    border-radius: 4px;
    align-items: center;
    min-height: 40px;
    box-shadow: 0 0 2px lightgray;
    justify-content: space-between;
    padding: 0 10px;
}

#transaction p {
    padding: 0 5px;
}

@media screen and (max-width: 600px) {
    #transaction {
        font-size: 13px;
    }
}
