@import "../../styles/colors";

#transactionsBoard {
    display: flex;
    flex-direction: column;
}

#transactionsBoard input {
    margin-bottom: 10px;
    height: 40px;
    padding-left: 10px;
    margin-right: 10px;
    width: 100vh;
}

.transaction {
    background: white;
    display: flex;
    color: $base-font-color;
    margin-bottom: 5px;
    border-radius: 4px;
    align-items: center;
    min-height: 40px;
    box-shadow: 0 0 2px lightgray;
    justify-content: space-between;
    padding: 0 10px;

    .together {
        display: flex;

        p {
            padding-left: 10px;
        }
    }
}

.transaction > * {
    flex: 4;

    &:first-child {
        flex: 1;
    }

    &:last-child {
        flex: 1;
    }
}

.transaction p {
    padding: 0 5px;
}

@media screen and (max-width: 600px) {
    .transaction {
        font-size: 13px;
    }
}
