@import "../../styles/colors";

.budgetItem {
  background: white;
  display: flex;
  color: $base-font-color;
  margin-bottom: 5px;
  border-radius: 4px;
  align-items: center;
  min-height: 40px;
  box-shadow: 0 0 2px lightgray;
  justify-content: space-between;
  padding: 0 10px;

  .together {
    display: flex;

    &.last {
      justify-content: flex-end;
    }

    p {
      padding-left: 10px;
    }
  }
}

.budgetItem > * {
  flex: 1;
}

.budgetItem:last-child {
  align-self: flex-end;
}
