@import "../../styles/colors";

.logo {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.appTitle {
  display: flex;
  align-items: center;
}

.appTitle h1 {
  padding-right: 4px;
  font-weight: bold;
  font-size: 34px;
  color: $base-font-color;
}

.logo h4 {
  color: $base-font-color;
}

@media (max-width: 480px) {
  .logo h1 {
    font-size: 16px;
  }

  .logo h4 {
    font-size: 12px;
  }
}
