@import "../../styles/colors";

#navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 14px;

  #logo {
    height: 60px;
    width: 120px;
    background-size: cover;
  }

  .iconButton {
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 0 2px lightgray;

    p {
      padding-left: 10px;
    }
  }

  #icons {
    display: flex;

    .icon {
      padding: 10px;
    }
  }
}

@media (min-width: 480px) {
  .mobileMenuIcon {
    display: none;
  }

  .userProfileButton {
    display: flex;
  }

  .desktopLinks {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
      padding-left: 32px;
      color: $base-font-color;
      font-size: 14px;
    }
  }
}

@media (max-width: 480px) {
  .iconButton {
    font-size: 10px;
  }

  .mobileMenuIcon {
    display: flex;
  }

  .userProfileButton {
    display: none;
  }

  .desktopLinks p {
    display: none;
  }
}
