
#navBar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;

  #logo {
    height: 60px;
    width: 120px;
    background-size: cover;
  }

  .iconButton {
    display: flex;
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 0 2px lightgray;

    p {
      padding-left: 10px;
    }
  }

  #icons {
    display: flex;

      .icon {
        padding: 10px;
      }
  }
}

@media (max-width: 480px) {
  .iconButton {
    font-size: 10px;
  }
}
