.monthlyBalance {

  color: white;

  h2 {
    font-size: 18px;
    padding-bottom: 40px;
  }

  .bar {
    width: 80px;
    border: solid white 1px;
    border-radius: 4px;
  }

  .green {
    background: rgba(255,255,255,0.4);
  }

  .red {
    background: rgba(255,255,255,0.4);
  }

}
