.img {
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
  margin-bottom: 10px;

  &.big {
    width: 100%;
    height: 400px;
  }

  &:hover {
    cursor: pointer;
  }
}
